@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body,#root{
  background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(23,82,107,1) 100%);
  height: 100%;
}

h1{
  font-family:'Comfortaa' !important;
}

 #app, #map {
  height: 500px;
  width: 100%;
}


#contenido-principal{
  min-height: 100%;
  padding: 20px;
}

.pusher{
  height: 100%;
  width: calc(100% - 260px);
}

.menu{
  background: rgba(0, 0, 0, 0.7) !important;
}

.menu li{
  color: #185069 !important;
  font-size: 16px !important;
}

.div-image-profile-menu{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-image-logo-menu{
  padding: 15px;
}


.div-buttonsInfo{
  text-align: right;
}


.visible.transition {
    display: grid !important;
}

.medium{
  height: 300px !important;
}
.small{
  height: 150px !important;
}

.ui.table{
  background: #00000014 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 1.3em;
}

.ui.table thead th{
  background: #00000014 !important;
  color: #7ecaec !important;
}
.myCard .card{
  box-shadow: none;
  background: #00000066;
  padding: 15px;
  border-radius: 15px;
}
.myCard .header{
color: #fff !important;
font-size: 1.5em !important;
margin-top: 10px !important;
}



/*Botones*/
.violet{
  background-color: #8a0c38 !important;
}

.blue{
  background-color: #194f69 !important;
}

.button{
  border: 2px solid transparent !important;
}
.button:hover{
  border: 2px solid #fff !important;
}


.ui.dropdown .menu>.item{
  color: #fff !important;
}

.myCard .meta{
color: #fff !important;
font-size: 1em !important;
margin-top: 7px !important;
}
